.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 80px;
}
.mid{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn{
  border: 0;
  padding: 15px 30px;
  border-radius: 5%;
  margin-right: 5px;
}
