body{
  text-align: center;
  justify-content: center;
}
p{
  color: white;
  text-align: center;
}
.mainTitle{
 text-align: center;
}
.box{
  background-color: #696969;

  width: 300px;
  padding: 20px;
}
.bar{
 background-color: #808080;
 height: 25px;
 border-radius: 20px;
 display: flex;
 color: white;
 font-size: 13px;
}
