body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #696969;
}
p{
  color: white;
  text-align: center;
}
.box{
  background-color: #696969;
  
  width: 300px;
  padding: 20px;
}
.bar{
 background-color: #808080;
 height: 25px;
 border-radius: 20px;
 display: flex;
 color: white;
 font-size: 13px;
}

.red{
  text-align: center;
  background-color: #DC143C;
  width: var(--bar-value)
}
.green{
  text-align: center;
  background-color: #8FBC8F;
  width: var(--bar-value)
}
.blue{
  text-align: center;
  background-color: #4169e1;
  width: var(--bar-value)
}
.yellow{
  text-align: center;
  background-color: #F0E68C;
  width: var(--bar-value)
}
