body {
  background-color: #A9A9A9;
  text-align: center;

}

p {
  color: white;
  text-align: center;
}
.mainbackground{
  background: #303234;
}
.barline{
  height: 1px;
  background: black;
}
.mainTitle {
  text-align: center;
  color: white;
}

.box {
  background-color: #696969;
}

.bar {
  background-color: #808080;
  height: 35px;
  border-radius: 20px;
  display: flex;
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}

.green {
  width: var(--bar-value);
  background-color: green;
}

.blue {
  width: var(--bar-value);
  background-color: blue;
}

.red {
  width: var(--bar-value);
  background-color: red;
}

.yellow {
  width: var(--bar-value);
  background-color: orange;
}
